body {
	color: #555555;
	font:12px/160% Verdana,Arial,'Bitstream Vera Sans',sans-serif;
	text-align:center;
}

* {
	margin:0;
	padding:0;
}

a:link, a:visited {
	border-bottom: 1px solid #A1CFD4;
	color: #006699;
	text-decoration: none;
}

pre {
	background: none repeat scroll 0 0 #000000;
	color: #d0ffff;
	font-size: 20px;
	padding: 15px;
}

#header {
	background: url("/images/bg-header.gif") repeat-x scroll left top #262F35;
	float: left;
	width: 100%;
}

.wrapper {
	margin: 0 auto;
	text-align: left;
	width: 730px;
}

#logo {
	color: #FFFFFF;
	float: left;
	margin: 29px 0 0;
	width: 342px;
}

#logo span {
	font-size: 30px;
	line-height: 30px;
}

ul#navigation {
	float: right;
	list-style: none outside none;
	margin: 37px 0 34px;
	padding: 3px 0;
	text-align: right;
}

ul#navigation li {
	color: #697987;
	display: inline;
	font-size: 17px;
	font-weight: bold;
	margin: 0 7px;
	text-shadow: 0 -1px 0 #12171A;
}

ul#navigation li a {
	background: none repeat scroll 0 0 transparent;
	border: none;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#fork-me img {
	border: 0;
	position: absolute; 
	right: 0;
	top: 0;
}

#middle-screen {
	float: left;
	width: 100%;
}

h1#slogan {
	height: 41px;
	margin: 40px 0 15px;
}

#header-body-text {
	float:left;
	margin-bottom:5px;
	padding-bottom:40px;
	width:355px;
}


#header-body {
	background: url("/images/bg-body.gif") repeat-x scroll left bottom #F6F9FF;
	float: left;
	width: 100%;
}
